@font-face {
    font-family: gotham;
    src: url(urlGothamPro.ttf);
}
body{
    font-family: gotham;
    color: rgb(49, 2, 49);
    font-family: gotham;
    background-color: rgb(233, 196, 208);
}
@font-face {
    font-family: gothambold;
    src: url(fonts/GothamPro-Bold.ttf);
}
@font-face {
    font-family: gotham;
    src: url(fonts/GothamPro.ttf);
}
#logo{
    width: 3%;
    margin-left: 50%;
}
#Review{
    text-align: center;
    color: blueviolet;
}
.title{
    text-align: center;
    font-family: gotham;
    color: rgb(49, 2, 49);
}
.options{
    display:flex;
    gap: 2%;
    margin-left: 25%;
}
.options li{
    list-style: none;
    display: inline;
    font-size: 1.2vw;
}
a{
  text-decoration: none;
  color: rgb(49, 2, 49);
}
.options a:hover {
    color: rgb(193, 4, 187);
  }
  .options a.active {
    color: rgb(187, 63, 183);
  }
  .born-crime-heading{
    background-image: linear-gradient(rgba(216, 208, 208, 0.5), rgba(0,0,0,0.5)),url(images/istockphoto-2030372454-2048x2048.jpg);
    background-size: cover;
    text-align: center;
    color: white;

  }
.subscribe{
    background-color: rgb(49, 2, 49);
    color: rgb(246, 216, 245);
    border-radius: 12px;
    padding: 3%;
    width: 80%;
    margin-top: 5%;
    margin-left: 7%;
}
#email{
    width:  40%;
    padding: 2%;
    background-color: rgb(246, 216, 245);
}
.btn{
    width: 20%;
    padding: 2%;
    background-color: rgb(246, 216, 245);
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: rgb(193, 4, 187);
    color: rgb(246, 216, 245);
}
.foot{
    margin-top: 3%;
}
#copyright{
    text-align: center;
}
.socials{
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
}
.main-container{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}
.container{
    display: flex;
}
#title-heading{
    color: rgb(247, 5, 5);
    text-align: center;
}
video{
    margin-left: 10%;
}
b{
    color: red;
}
#stars{
    border-radius: 50px;
    margin-left: 30%;
    height: 8vh;
    width: 40%;
    margin-top: 4%;
}
#trevor{
    margin-left: 30%;
}
i{
    color: rgb(1, 1, 247);
}
p{
    font-size: 1.2vw;
    line-height: 3vh;
    text-align: justify;
}
#reponse{
font-weight: bolder;
}
h2{
    color: blue;
}
.container-one{
    background-color: none;
    width:22%;
}
.container-two{
    background-color: none;
    width:22%;
}

#image-four{
    width: 95%;
    height: 40vh;
    rotate: 10deg;
    margin-top: 50%;
    margin-left: -2%;
}
#reflection{
    border: 2px rgb(233, 163, 163);
    border-radius: 20px;
}
#son-patricia{
    width: 95%;
    rotate: 10deg;
    margin-top: 350%;
    margin-left: 8%;
}

.footer{
    background-color: none;
    text-align: justify;

}
.email-address{
    display: flex;
    margin-top: -3%;
    
}
.contact{
    display: flex
}
#Layer_1{
    width: 5%;
}
#Слой_1{
    width: 5%;
}
u{
    color: blue;
}




@media only screen and (max-width:750px) {
    body {
        margin: 0;
        width: 100%;
        padding: 0;
        font-family: gotham;
        position: relative;
        height: 100%;
    }
    #title-heading{
        font-size: 5vw;
    }
p{
    font-size: 3vw;
    line-height: 2vh;
}
#stars{
    height: 2%;
}
#trevor{
    margin-left: 8%;
    width: 80%;
}

#image-four{
    width: 95%;
    height: 10vh;
    rotate: 10deg;
    margin-top:120%
}
.options{
    font-size: 6vw;
    text-align: center;
}
}


@media only screen and (min-width:751px) and (max-width:999px){
    body {
        margin: 0;
        width: 100%;
        padding: 0;
        font-family: gotham;
        position: relative;
        height: 100%;
    }
    #title-heading{
        font-size: 5vw;
    }
p{
    font-size: 2vw;
    line-height: 2vh;
}
#stars{
    height: 2%;
}
#trevor{
    margin-left: 2%;
    width: 90%;
}

#image-four{
    width: 95%;
    height: 18vh;
    rotate: 10deg;
    margin-top:120%
}
}

@media only screen and (min-width:1000px){
    body {
        margin: 0;
        width: 100%;
        padding: 0;
        font-family: gotham;
        position: relative;
        height: 100%;
    }
    #title-heading{
        font-size: 5vw;
    }
p{
    font-size: 1.5vw;
    line-height: 2.8vh;
}
#stars{
    height: 2%;
}
#trevor{
    margin-left: 15%;
    width: 60%;
}

#image-four{
    width: 95%;
    height: 35vh;
    rotate: 10deg;
    margin-top:120%
}


}








